body {
    /* background: rgb(6, 6, 12); */
    font-family: 'ABeeZee', sans-serif;
}

.text-silt {
    font-family: Shadows Into Light Two, cursive;
}

.canvas-container {
    background: rgba(215, 254, 255, 0.856);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#canvas {
    box-shadow: 15px 10px 15px 10px #888888;
    margin: auto;
    width: 85%;
    border: 1px solid rgba(255, 255, 255, 0);
    background: rgb(29, 29, 29);
    margin-top: 10px;
}